#gastos {
    background-color: #ff0000;
}

#cabeçalho {
    background-color: #7fffd4;
}

#maio {
    background-color: #ca4d4d;
}

#junho {
    background-color: #8fe9ad;
}

#julho {
    background-color: #a675bd;
}